### Packages

In [21]:
import os
import pandas as pd
import numpy as np

### Set Variables

In [ ]:
# Folder containing .out files
folder_path = 'provide the folder path - where scans.out are'
# Lists to store data from .out files
content = []
content_energy = []
# Keywords where energies are stored in G16 .out file
start_word = '\HF='
end_word = '\S2'
# Path where the energies in txt format will be stored
path_file = "provide the folder path where you want to save energies.txt file/energies_test.txt"
# Path where the energies in excel format will be stored
name_file = "provide the folder path where you want to save energies.txt file/rel_energy.xlsx"

### Functions

In [ ]:
# Function to extract content from a single file
def extract_content(file_path):
    extracted_content = []
    with open(file_path, 'r') as file:
        start = False
        for line in file:
            line = line.strip()
            if start_word in line:
                start = True
                extracted_content.append(line)
                continue
            if start and end_word in line:
                extracted_content.append(line)
                content.append(extracted_content)
                break
            if start:
                extracted_content.append(line)
                
# Function to extract only energy values from the extracted_content
def extract_energies(content):
    energies_list = []  # Create an empty list to store the extracted energies

    for i in content:
        text_string = ''.join(i)

        # Find the position of the first character "\HF="
        first_word = text_string.find("\HF=")

        # Find the position of the last character "\S2"
        last_word = text_string.rfind("\S2=")

        # Check if both characters were found
        if first_word != -1 and last_word != -1:
            # Extract the substring between "\HF=" and "\S2"
            energies = text_string[first_word + 4:last_word]  # Start from 4th character after "\HF="
            energies_list.append(energies)  # Add the extracted energy to the list
        else:
            print("Start or end keywords not found.")
    return energies_list

### Extract lines between keywords "\HF=" and "\S2"

In [ ]:
# List files in the folder and sort them in ascending order
file_list = sorted([f for f in os.listdir(folder_path) if f.endswith(".out")])

# Process each file in ascending order
for filename in file_list:
    file_path = os.path.join(folder_path, filename)
    extract_content(file_path)

### Extract only energy values

In [ ]:
energies = extract_energies(content)

### Save energy values into a txt file

In [ ]:
with open(path_file, 'w') as arquivo:
    for value in energies:
        arquivo.write(str(value) + '\n')

### Create a dataframe from the energies file

In [ ]:
df = pd.read_csv("provide the folder path where you want to save energies.txt file/energies_test.txt", sep=',', header=None)

In [ ]:
# Check if table was loaded Correctly 
df.head()

### Find The lowest energy

In [10]:
min_df = df.min().min()

### Creating new dataframes with the relative energies

In [13]:
df_rel = (df - min_df) * 627.51

In [14]:
df_rel.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1,10.695406,11.450300,16.912336,27.386042,41.775537,40.742530,24.816640,11.446598,2.857681,0.000000,2.886860,11.483559,24.849898,40.768383,41.724583,27.336846,16.868598,11.422753,10.673631
2,10.899535,11.664470,17.280621,27.839481,42.480356,42.350838,26.204692,12.952873,4.497490,1.666604,4.522465,12.990900,26.236319,42.381586,30.545430,27.784009,17.236194,11.665285,10.877384
3,12.623681,13.515624,19.164846,29.427834,43.395705,44.495479,29.257214,16.856487,8.968687,6.339545,8.992720,16.885478,29.294426,44.525600,32.107741,27.807541,19.115712,13.480421,12.595820
4,16.132404,17.054843,22.468184,31.953311,44.340233,34.379830,29.943146,21.655998,14.550827,12.202057,14.574610,21.684989,32.815824,46.029616,44.291727,31.905056,22.388302,17.010353,16.097577
5,20.968184,21.725024,26.519765,34.770455,44.691388,46.217304,36.123052,26.774722,20.711972,18.766440,20.734436,26.803525,36.152608,46.234121,44.649909,34.729792,26.481236,21.690762,20.931851

### Saving the relative energies into a new excel file

In [26]:
# Create a Pandas Excel writer using ExcelWriter
with pd.ExcelWriter('provide the folder path where you want to save energies.txt file/rel_energy.xlsx', engine='xlsxwriter') as writer:
    # Save the first DataFrame to the Excel file with the sheet name 'S0_C5'
    df_rel.to_excel(writer, sheet_name='name your data tab', index=False)